.active-purple-4 input[type=text]:focus:not([readonly]) {
    border: 2px solid #ce93d8;
    box-shadow: 0 0 0 1px #ce93d8;
  }

.Heading {
    text-align: center;
}

.form-group {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}
